<div class="title-bar">
    <h1>Projects and Examples</h1>
    <h2>a sampling of my full-stack development</h2>
</div>
<div class="project-box">
    <div class="project one">
        <a href="#"><img src="assets/img/622x350.png"></a>
    </div>
    <div class="project two">
        <a href="#"><img src="assets/img/622x350.png"></a>
    </div>
    <div class="project three">
        <a href="#"><img src="assets/img/622x350.png"></a>
    </div>
    <div class="project four">
        <a href="#"><img src="assets/img/622x350.png"></a>
    </div>
    <div class="project five">
        <a href="#"><img src="assets/img/622x350.png"></a>
    </div>
    <div class="project six">
        <a href="#"><img src="assets/img/622x350.png"></a>
    </div>
</div>