<div class="menu-bar">
    <div class="name-plate">
        <h1>Peter Almon</h1>
        <h2>Web Developer</h2>
    </div>
    <hr>
    <a routerLink="/home" routerLinkActive="active"><div class="menu-button">
        <p>Home</p>
    </div></a>
    <hr>
    <a routerLink="/contact" routerLinkActive="active"><div class="menu-button">
        <p>Contact</p>
    </div></a>
    <hr>
    <a routerLink="/blog" routerLinkActive="active"><div class="menu-button">
        <p>Blog</p>
    </div></a>
    <hr>
    <a href="#"><div class="menu-button">
        <p>TEST</p>
    </div></a>
    <hr>
    <a href="#"><div class="menu-button">
        <p>TEST</p>
    </div></a>
    <hr>
</div>