.title-bar {
    margin: 0 auto 30px auto;
}

.project-box {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    width: 90%;
    /*height: 250px;*/
    background-color: lightgrey;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project {
    background-color: cornflowerblue;
    width: 622px;
    /*height: 350px;*/
    margin: .75% auto;
}

.project img {
    width: 100%;
}